.header
    i.fa.fa-exchange-alt.fa-lg.toggle
    .dropdown.notify
        i.fas.fa-bell.fa-lg.header-icons.belly#notify(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        .dropdown-menu.droppy(aria-labelledby='notify')
            .noti-head
                | Notifications 
                span 3
            .noti-content
                ul.list-unstyled
                    li 
                        i.fas.fa-user-graduate.one
                        | Yo Got A New Freind Request
                    li 
                        i.fas.fa-heart.two
                        | New Like For You
                    li 
                        i.fas.fa-comment.three
                        | Yo Have A New Comment 
            .noti-footer.text-center: a(href="") View All Notifications
    i.fas.fa-expand.fa-lg.header-icons.toggle-fullscreen
    .dropdown.user-container
        .username#username(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            img.avatar.rounded-circle(src="../stage/images/me2.jpg" alt="User")
            span.user Ahmed Elabasy
            i.fas.fa-angle-down.fa-lg
        .dropdown-menu.droppy.dropdown-menu-right(aria-labelledby='username')
            .user-info
                h3 Ahmed Elabasy
                p.lead Premium Member
            hr
            ul.activities-list.list-unstyled
                li 
                    i.fas.fa-comments.fa-fw.fa-lg
                    | Commented on Elzero Post
                li 
                    i.fas.fa-thumbs-up.fa-fw.fa-lg
                    | Liked A comment In the Group
                li 
                    i.fas.fa-share.fa-fw.fa-lg 
                    | shared A New Post To Elzero W eb School
                li
                    i.fas.fa-tag.fa-fw.fa-lg
                    | Tagged Someone in his Comment
            hr
            .row.usermenu-list
                .col
                    .link-box 
                        i.fas.fa-cog.fa-lg.fa-fw.cogy
                        span Settings
                .col
                    .link-box
                        i.fas.fa-user.fa-lg.fa-fw.usi
                        span Profile
                .col
                    .link-box
                        i.fas.fa-sign-out-alt.fa-lg.fa-fw.signy
                        span Logout