.sidebar
    .logo-area.text-center DashBoard
    ul.links-area.list-unstyled
        li: a(href="homepage.html" class= pageTitle === "Homepage" ? "active" : "") Homepage
        li
            a(href="#" class="toggle-submenu") 
                | Forms
                i.fas.fa-angle-right
            ul.childs-list.list-unstyled
                li: a(href="#") Input
                li: a(href="#") Textarea
                li: a(href="#") Checkbox
                li: a(href="#") Radio
        li
            a(href="#" class="toggle-submenu") 
                | Misc
                i.fas.fa-angle-right
            ul.childs-list.list-unstyled
                li: a(href="#") Loading
                li: a(href="#") Breadcrumbs
        li: a(href="charts.html" class= pageTitle === "Charts" ? "active" : "") Charts
        
