.settings-bar{
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 1000;
    right: 0;
    top: 0;
    background-color: #FFF;
    padding: 20px;
    transition: .4s;
    .toggle-settings{
        position: absolute;
        left: -42px;
        top: 100px;
        background-color: #FFF;
        padding: 8px 11px;
        cursor: pointer;
    }
    &.hide-settings{
        right: -250px;
    }
    .option-box{
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        .option-title{
            font-size: 24px;
            color:#666;
            margin: 10px 0 15px;
        }
        &.colors-option{
            ul{
                $colors : #009688, #0984e3, #d63031, #ff9f43, #D980FA;
                @for $i from 1 through length($colors){
                    li:nth-child(#{$i}){
                        background-color: nth($colors, $i);
                    }
                }
                li{
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    display:inline-block;
                    cursor: pointer;
                    opacity: .5;
                    margin-right: .5px;
                    &.active{
                        opacity: 1;
                    }
                }
            }
        }
    }
}