.settings-bar.hide-settings
    .toggle-settings
        i.fas.fa-cog.fa-lg
    .settings-content
        .option-box
            h4 Colors Option
        .option-box
            h4 Fonts Option
        .option-box
            h4 Sidebar Option